–ò–º–ø–æ—Ä—Ç–∏—Ä—É–π—Ç–µ –±–∏–±–ª–∏–æ—Ç–µ–∫—É pandas –∫–∞–∫ pd. –ü—Ä–æ—á–∏—Ç–∞–π—Ç–µ –¥–∞—Ç–∞—Å–µ—Ç bookings.csv, –Ω–∞—Ö–æ–¥—è—â–∏–π—Å—è –ø–æ —Å—Å—ã–ª–∫–µ, —Å —Ä–∞–∑–¥–µ–ª–∏—Ç–µ–ª–µ–º ;  –∏ —Å–æ—Ö—Ä–∞–Ω–∏—Ç–µ –≤ –ø–µ—Ä–µ–º–µ–Ω–Ω—É—é bookings. –ó–∞—Ç–µ–º –∑–∞–ø–∏—à–∏—Ç–µ –ø–µ—Ä–≤—ã–µ 7 —Å—Ç—Ä–æ–∫ –≤ –ø–µ—Ä–µ–º–µ–Ω–Ω—É—é bookings_head.

In [ ]:
import pandas as pd

In [9]:
bookings = pd.read_csv("bookings.csv", sep=";")

In [10]:
bookings

,Hotel,Is Canceled,Lead Time,arrival full date,Arrival Date Year,Arrival Date Month,Arrival Date Week Number,Arrival Date Day of Month,Stays in Weekend nights,Stays in week nights,...,Adults,Children,Babies,Meal,Country,Reserved Room Type,Assigned room type,customer type,Reservation Status,Reservation status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017-08-30,2017,August,35,30,2,5,...,2,0.0,0,BB,BEL,A,A,Transient,Check-Out,2017-09-06
119386,City Hotel,0,102,2017-08-31,2017,August,35,31,2,5,...,3,0.0,0,BB,FRA,E,E,Transient,Check-Out,2017-09-07
119387,City Hotel,0,34,2017-08-31,2017,August,35,31,2,5,...,2,0.0,0,BB,DEU,D,D,Transient,Check-Out,2017-09-07
119388,City Hotel,0,109,2017-08-31,2017,August,35,31,2,5,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2017-09-07
119389,City Hotel,0,205,2017-08-29,2017,August,35,29,2,7,...,2,0.0,0,HB,DEU,A,A,Transient,Check-Out,2017-09-07

In [20]:
bookings_head = bookings.head(7)

–ü–æ—Å–º–æ—Ç—Ä–∏—Ç–µ –Ω–∞ —Ä–∞–∑–º–µ—Ä—ã —Ç–∞–±–ª–∏—Ü—ã. –°–∫–æ–ª—å–∫–æ –≤—Å–µ–≥–æ –≤ –Ω–µ–π —Å—Ç–æ–ª–±—Ü–æ–≤?

In [22]:
bookings.shape

(119390, 21)

–ö –∫–∞–∫–æ–º—É —Ç–∏–ø—É –æ—Ç–Ω–æ—Å–∏—Ç—Å—è –±–æ–ª—å—à–∏–Ω—Å—Ç–≤–æ –ø–µ—Ä–µ–º–µ–Ω–Ω—ã—Ö?

In [24]:
bookings.dtypes

hotel                         object
is_canceled                    int64
lead_time                      int64
arrival_full_date             object
arrival_date_year              int64
arrival_date_month            object
arrival_date_week_number       int64
arrival_date_day_of_month      int64
stays_in_weekend_nights        int64
stays_in_week_nights           int64
stays_total_nights             int64
adults                         int64
children                     float64
babies                         int64
meal                          object
country                       object
reserved_room_type            object
assigned_room_type            object
customer_type                 object
reservation_status            object
reservation_status_date       object
dtype: object

üíÄ –°–ª–æ–∂–Ω–æ–µ –∑–∞–¥–∞–Ω–∏–µ! üíÄ

–ö–∞–∫ –≤—ã —É–∂–µ –º–æ–≥–ª–∏ –∑–∞–º–µ—Ç–∏—Ç—å, –ø—Ä–∏ —Å–±–æ—Ä–µ –¥–∞—Ç–∞—Å–µ—Ç–∞ –ø—Ä–æ–∏–∑–æ—à–ª–∞ –Ω–µ–±–æ–ª—å—à–∞—è –æ—à–∏–±–∫–∞, –∏ –Ω–∞–∑–≤–∞–Ω–∏—è –∫–æ–ª–æ–Ω–æ–∫ –±—ã–ª–∏ –∑–∞–ø–∏—Å–∞–Ω—ã –≤ –Ω–µ—É–¥–æ–±–Ω–æ–º –¥–ª—è –¥–∞–ª—å–Ω–µ–π—à–µ–π —Ä–∞–±–æ—Ç—ã —Ñ–æ—Ä–º–∞—Ç–µ. –ò—Å–ø—Ä–∞–≤—å—Ç–µ —Å–∏—Ç—É–∞—Ü–∏—é: –ø—Ä–∏–≤–µ–¥–∏—Ç–µ –Ω–∞–∑–≤–∞–Ω–∏—è —Å—Ç–æ–ª–±—Ü–æ–≤ –∫ –Ω–∏–∂–Ω–µ–º—É —Ä–µ–≥–∏—Å—Ç—Ä—É –∏ –∑–∞–º–µ–Ω–∏—Ç–µ –ø—Ä–æ–±–µ–ª—ã –Ω–∞ –∑–Ω–∞–∫ –Ω–∏–∂–Ω–µ–≥–æ –ø–æ–¥—á—ë—Ä–∫–∏–≤–∞–Ω–∏—è. –ù–∞–ø—Ä–∏–º–µ—Ä: Is Canceled -> is_canceled

–ú–æ–≥—É—Ç –ø—Ä–∏–≥–æ–¥–∏—Ç—å—Å—è: 

* rename
* str.lower
* str.replace
* columns

–°–¥–µ–ª–∞–ª –º–∞–∫—Å–∏–º–∞–ª—å–Ω–æ –ø—Ä—è–º–æ–ª–∏–Ω–µ–π–Ω–æ, –Ω–æ —Ä–∞–±–æ—Ç–∞–µ—Ç

In [19]:
bookings =bookings.rename(columns={"Hotel": "hotel", "Is Canceled": "is_canceled", \
                         "Lead Time": "lead_time", "arrival full date": "arrival_full_date",\
                         "Is Canceled": "is_canceled", "Babies": "babies" \
                        , "Arrival Date Year": "arrival_date_year", "Arrival Date Month": "arrival_date_month"\
                        , "Arrival Date Week Number": "arrival_date_week_number", "Arrival Date Day of Month": "arrival_date_day_of_month"\
                        , "Stays in Weekend nights": "stays_in_weekend_nights", "Stays in week nights": "stays_in_week_nights"\
                        , "stays total nights": "stays_total_nights" , "Adults": "adults" \
                        , "Children": "children" , "Meal": "meal"\
                        , "Country": "country", "Reserved Room Type": "reserved_room_type"\
                        , "Assigned room type": "assigned_room_type", "customer type": "customer_type" \
                        , "Reservation Status": "reservation_status" , "Reservation status_date": "reservation_status_date"})

–ü–æ–ø—Ä–æ–±—É—é –±–æ–ª–µ–µ —Ä–∞–∑—É–º–Ω—ã–π –≤–∞—Ä–∏–∞–Ω—Ç

In [27]:
rename_col={}
for col in bookings.columns:
    rename_col[col]=col.replace(" ", "_").lower()

In [29]:
rename_col

{'hotel': 'hotel',
 'is_canceled': 'is_canceled',
 'lead_time': 'lead_time',
 'arrival_full_date': 'arrival_full_date',
 'arrival_date_year': 'arrival_date_year',
 'arrival_date_month': 'arrival_date_month',
 'arrival_date_week_number': 'arrival_date_week_number',
 'arrival_date_day_of_month': 'arrival_date_day_of_month',
 'stays_in_weekend_nights': 'stays_in_weekend_nights',
 'stays_in_week_nights': 'stays_in_week_nights',
 'stays_total_nights': 'stays_total_nights',
 'adults': 'adults',
 'children': 'children',
 'babies': 'babies',
 'meal': 'meal',
 'country': 'country',
 'reserved_room_type': 'reserved_room_type',
 'assigned_room_type': 'assigned_room_type',
 'customer_type': 'customer_type',
 'reservation_status': 'reservation_status',
 'reservation_status_date': 'reservation_status_date'}

In [30]:
bookings = bookings.rename(columns=rename_col)

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,adults,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017-08-30,2017,August,35,30,2,5,...,2,0.0,0,BB,BEL,A,A,Transient,Check-Out,2017-09-06
119386,City Hotel,0,102,2017-08-31,2017,August,35,31,2,5,...,3,0.0,0,BB,FRA,E,E,Transient,Check-Out,2017-09-07
119387,City Hotel,0,34,2017-08-31,2017,August,35,31,2,5,...,2,0.0,0,BB,DEU,D,D,Transient,Check-Out,2017-09-07
119388,City Hotel,0,109,2017-08-31,2017,August,35,31,2,5,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2017-09-07
119389,City Hotel,0,205,2017-08-29,2017,August,35,29,2,7,...,2,0.0,0,HB,DEU,A,A,Transient,Check-Out,2017-09-07

üíÄ –°–ª–æ–∂–Ω–æ–µ –∑–∞–¥–∞–Ω–∏–µ! üíÄ

–ü–µ—Ä–µ–π–¥—ë–º –∫ –∏—Å—Å–ª–µ–¥–æ–≤–∞–Ω–∏—é –¥–∞–Ω–Ω—ã—Ö! –ü–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–∏ –∏–∑ –∫–∞–∫–∏—Ö —Å—Ç—Ä–∞–Ω —Å–æ–≤–µ—Ä—à–∏–ª–∏ –Ω–∞–∏–±–æ–ª—å—à–µ–µ —á–∏—Å–ª–æ —É—Å–ø–µ—à–Ω—ã—Ö –±—Ä–æ–Ω–∏—Ä–æ–≤–∞–Ω–∏–π? 
–ë—Ä–æ–Ω–∏—Ä–æ–≤–∞–Ω–∏–µ —Å—á–∏—Ç–∞–µ—Ç—Å—è —É—Å–ø–µ—à–Ω—ã–º, –µ—Å–ª–∏ –≤ –¥–∞–ª—å–Ω–µ–π—à–µ–º –æ–Ω–æ –Ω–µ –±—ã–ª–æ –æ—Ç–º–µ–Ω–µ–Ω–æ (–ø–µ—Ä–µ–º–µ–Ω–Ω–∞—è is_canceled). –í –∫–∞—á–µ—Å—Ç–≤–µ –æ—Ç–≤–µ—Ç–∞ –≤—ã–±–µ—Ä–∏—Ç–µ —Å—Ç—Ä–∞–Ω—ã, –≤—Ö–æ–¥—è—â–∏–µ –≤ —Ç–æ–ø-5.

In [43]:
bookings.query("is_canceled == 0").country \
                .value_counts().head(5)

PRT    21071
GBR     9676
FRA     8481
ESP     6391
DEU     6069
Name: country, dtype: int64

–ù–∞ —Å–∫–æ–ª—å–∫–æ –Ω–æ—á–µ–π (stays_total_nights)  –≤ —Å—Ä–µ–¥–Ω–µ–º –±—Ä–æ–Ω–∏—Ä—É—é—Ç –æ—Ç–µ–ª–∏ —Ç–∏–ø–∞ City Hotel? Resort Hotel? –ó–∞–ø–∏—à–∏—Ç–µ –ø–æ–ª—É—á–µ–Ω–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è –≤ –ø—Ä–æ–ø—É—Å–∫–∏ —Å —Ç–æ—á–Ω–æ—Å—Ç—å—é –¥–æ 2 –∑–Ω–∞–∫–æ–≤ –ø–æ—Å–ª–µ —Ç–æ—á–∫–∏.

In [44]:
bookings.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_full_date',
       'arrival_date_year', 'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'stays_total_nights', 'adults', 'children',
       'babies', 'meal', 'country', 'reserved_room_type', 'assigned_room_type',
       'customer_type', 'reservation_status', 'reservation_status_date'],
      dtype='object')

In [50]:
bookings.query("hotel == 'City Hotel'").stays_total_nights.mean().round(decimals=2)

2.98

In [51]:
bookings.query("hotel == 'Resort Hotel'").stays_total_nights.mean().round(decimals=2)

4.32